.nameInputs {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: space-between;
}

.group {
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.group h3 {
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .nameInputs {
    grid-template-columns: 1fr;
  }
}
