.container {
  min-height: 100vh;
}

.dark {
  background-color: #222;
  color: white;
  border-color: #fafafa;
}

.light {
  background-color: #fafafa;
  color: #000;
  border-color: #222;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  margin-bottom: 10px;
}

.darkHeader {
  background-color: #2b2b2b;
  box-shadow: 3px 3px 4px #222;
}

.lightHeader {
  background-color: #fff;
  box-shadow: 3px 3px 4px #ccc;
}

.logo {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: unset;
  text-decoration: none;
}

.logo:hover {
  cursor: pointer;
}

.linksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navLink {
  color: unset;
  text-decoration: none;
}

.signOut {
  padding: 10px;
  border-radius: 5px;
}

.signOut:hover {
  background-color: #666;
  opacity: 0.8;
  cursor: pointer;
}

.darkMode:hover {
  opacity: 0.5;
  cursor: pointer;
}
