.container {
  margin: 20px 10vw;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .container {
    margin: 10px 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
