.container {
  margin: 20px 10vw;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
}

.inputs {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  width: 225px;
  margin: 0 10px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(90degdeg);
  }

  60% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  animation: rotate 1s linear infinite;
}
